<!DOCTYPE html>
<html>
<head>
    <title>Indikator 1</title>
    {$LOAD_STYLE}
</head>
<body>
    <form action="{$config->site_url('home/guest/indikator1_process')}" method="POST">
        <div id="wrapper">
            <nav>
                <div>
                    <!-- <a href="">Sign Out</a> -->
                </div>
                <div id="number-state">1</div>
                <div><input type="submit" name="submit" id="save" value="Save" disabled="disabled"/></div>
            </nav>
            <section id="warning">
                <span>Tidak boleh lanjut sebelum jawaban dipilih ;)</span>
            </section>
            <div class="pages">
                {$i=0}

                {foreach $rs_indikator1 as $key => $indikator1}
                {$left = $i*(count($rs_indikator1)+(100 - count($rs_indikator1)))}
                <!-- <input type="hidden" name="id_pertanyaan[{{$value->id_pertanyaan}}]" value="{{$value->id_pertanyaan}}"> -->
                {if $key eq 0}
                <div class="page active" data-number="{$i}" style="left: {$left}%;">
                    {else}
                    <div class="page" data-number="{$i}" style="left:{$left}%;">
                        {/if}
                        <div>
                            <p>
                                <h1>{$indikator1.ket_indikator1}</h1>
                            </p>
                            <br>
                            <p>
                                <input type="radio" name="indikator1_jawab{$indikator1.kode_indikator1}" id="indikator1_jawab{$indikator1.kode_indikator1}ya" value="1">
                                <label for="indikator1_jawab{$indikator1.kode_indikator1}ya">Ya </label> &nbsp;
                                <input type="radio" name="indikator1_jawab{$indikator1.kode_indikator1}" id="indikator1_jawab{$indikator1.kode_indikator1}tidak" value="0">
                                <label for="indikator1_jawab{$indikator1.kode_indikator1}tidak">Tidak </label>
                            </p>
                        </div>
                    </div>
                    {assign var=i value=$i+1}

                    {/foreach}
                    <a href="#" class="backbutton">
                        <span>&nbsp;</span>
                    </a>
                    <a href="#" class="nextbutton">
                        <span>&nbsp;</span>
                    </a>
                </div>
            </div>
        </form>
        {$LOAD_JAVASCRIPT}

        <script>
        $(document).ready(function(){
            $(".nextbutton").on("click", function(){
                if($(".active input[type='radio']:checked").length > 0){
                    $("#warning span").slideUp();

                    var activeNumber = parseInt($(".active").attr("data-number"));
                    var pages = $(".page").length - 1;

                    if((activeNumber) == {count($rs_indikator1)}-2){
                        $('#save').removeAttr('disabled');
                    } else {
                        $('#save').attr('disabled', 'disabled');
                    }

                    if(pages >= (activeNumber + 1)){
                        $(".page[data-number='" + activeNumber + "']").removeClass('active');
                        activeNumber++;
                        var leftPercent = activeNumber * 100;

                        $(".pages").css("left", "-" + leftPercent + "%");
                        $(".page[data-number='" + activeNumber + "']").addClass('active');

                        $("#number-state").html(activeNumber+1);
                    } else {
                        console.log("top");
                        return false;
                    }
                } else {
                    $("#warning span").slideDown();
                }
            });

            $(".backbutton").on("click", function(){
                $("#warning span").slideUp();

                var activeNumber = parseInt($(".active").attr("data-number"));

                $('#save').attr('disabled', 'disabled');

                if(activeNumber > 0){
                    $(".page[data-number='" + activeNumber + "']").removeClass('active');
                    activeNumber--;
                    var leftPercent = activeNumber * 100;

                    $(".pages").css("left", "-" + leftPercent + "%");
                    $(".page[data-number='" + activeNumber + "']").addClass('active');

                    $("#number-state").html(activeNumber+1);
                } else {
                    console.log("bottom");
                    return false;
                }
            });
        });
        </script>
    </body>

    </html>
