.red-color{
    color: red;
}

.yellow-color{
    color: yellow;
}

.blue-color{
    color: blue;
}

.turquoise-color{
    color: turquoise;
}

.magenta-color{
    color: magenta;
}

.color-333{
	color: #333;
}


.black-color{
	color: black;
}

.grey-color{
	color: gray;
}
