	<!-- Slider starts -->
		  <div class="parallax-slider">
				  <!-- Slider (Parallax Slider) -->            
					<div id="da-slider" class="da-slider">
					  <!-- Each slide should be enclosed inside "da-slide" class -->
					  <div class="da-slide">
						<div class="slide-details">
						  <!-- Heading -->
						  <h2><span>Mulai Tes</span></h2>
						  <!-- Para -->
						  <p>Konsultasi/ diagnosa 1 didasarkan dari kegiatan-kegiatan beresiko yang pernah dilakukan sebelumnya.</p>
						  <!-- Read more link -->
						  <a href="http://localhost/SkripsiAIDS/index.php/guest/welcome/pertanyaan" class="da-link">MULAI</a>
						  <!-- Image -->
						  <div class="da-img"><img src="{$BASEURL}/public/parallax/t3.png" alt="image01" /></div>
						</div>
					  </div>
					  <div class="da-slide">
						<h2><span>HIV/ AIDS</span></h2>
						<p>HIV adalah nama virus yang merupakan singkatan dari Human Immunodeficiency Virus, yaitu virus atau jasa renik yang sangat kecil yang menyerang sistem kekebalan tubuh manusia.</p>
						<a href="http://localhost/SkripsiAIDS/index.php/guest/welcome/aids" class="da-link">Read more</a>
						<div class="da-img"><img src="{$BASEURL}/public/parallax/t2.png" alt="image01" /></div>
					  </div>
					  <div class="da-slide">
						<h2><span>Mitos HIV/ AIDS</span></h2>
						<p>Apakah gigitan nyamuk membawa risiko terinfeksi HIV? HIV tidak menyebar melalui gigitan nyamuk atau gigitan serangga lainnya. </p>
						<a href="http://localhost/SkripsiAIDS/index.php/guest/welcome/mitosaids" class="da-link">Read more</a>
						<div class="da-img"><img src="{$BASEURL}/public/parallax/t4.png" alt="image01" /></div>
					  </div>
					  <div class="da-slide">
						<h2><span>Pengidap HIV dapat Hidup Lebih Lama</span></h2>
						<p>Saat divonis terinfeksi HIV, kebanyakan orang akan merasa hidupnya sudah berakhir karena mereka tidak akan hidup lebih lama lagi. Namun ternyata sebuah studi internasional baru menemukan, orang dengan HIV rata-rata bisa hidup lebih lama dari yang dipikirkan sebelumnya.</p>
						<a href="http://localhost/SkripsiAIDS/index.php/guest/welcome/pengidaphiv" class="da-link">Read more</a>
						<div class="da-img"><img src="{$BASEURL}/public/parallax/t5.png" alt="image01" /></div>
					  </div>
					  <nav class="da-arrows">
						<span class="da-arrows-prev"></span>
						<span class="da-arrows-next"></span>
					  </nav>
					</div>
		  </div>
		<!-- Slider ends -->

			<!-- Below slider starts -->

		<div class="sep"></div>
		<div class="slider-features">
		  <div class="container">
			<div class="row">
			  <div class="col-md-4 col-sm-4">
				<div class="onethree">
				  <div class="onethree-left">
					<!-- Font awesome icon -->
					<div class="img"><i class="fa fa-cloud"></i></div>
				  </div>
				  <div class="onethree-right">
					<!-- Title and meta -->
					<h5><a href="http://localhost/SkripsiAIDS/index.php/guest/welcome/artikel1">Teka-Teki Penyebaran HIV Terpecahkan</a></h5>
					<p class="meta">Pola penyebaran virus HIV masih merupakan teka-teki</p>
				  </div>
				  <div class="clearfix"></div>
				</div>
			  </div>
			  <div class="col-md-4 col-sm-4">
				<div class="onethree">
				  <div class="onethree-left">
					<div class="img"><i class="fa fa-gift"></i></div>
				  </div>
				  <div class="onethree-right">
					<h5><a href="http://localhost/SkripsiAIDS/index.php/guest/welcome/artikel2">Perawatan HIV</a></h5>
					<p class="meta">Perawatan yang tersedia untuk tes HIV.</p>
				  </div>
				  <div class="clearfix"></div>   
				</div>     
			  </div>
			  <div class="col-md-4 col-sm-4">
				<div class="onethree">
				  <div class="onethree-left">
					<div class="img"><i class="fa fa-home"></i></div>
				  </div>
				  <div class="onethree-right">
					<h5><a href="http://localhost/SkripsiAIDS/index.php/guest/welcome/artikel3">Apa Itu Tes HIV?</a></h5>
					<p class="meta">Tes HIV merupakan pengujian untuk mengetahui apakah HIV ada dalam tubuh seseorang.</p>
				  </div>
				  <div class="clearfix"></div>  
				</div>      
			  </div>
			  	  <div class="col-md-4 col-sm-4">
				<div class="onethree">
				  <div class="onethree-left">
					<div class="img"><i class="fa fa-home"></i></div>
				  </div>
				  <div class="onethree-right">
					<h5><a href="http://localhost/SkripsiAIDS/index.php/guest/welcome/artikel4">Tragedi Manusia Modern dan HIV/ AIDS</a></h5>
					<p class="meta">Tragedi manusia modern dalam hal ini ialah manusia yang mulai terpengaruh budaya permisif.</p>
				  </div>
				  <div class="clearfix"></div>  
				</div>      
			  </div>
			  	  <div class="col-md-4 col-sm-4">
				<div class="onethree">
				  <div class="onethree-left">
					<div class="img"><i class="fa fa-home"></i></div>
				  </div>
				  <div class="onethree-right">
					<h5><a href="http://localhost/SkripsiAIDS/index.php/guest/welcome/artikel5">PMI Klaten Temukan Kantong Darah Positif HIV</a></h5>
					<p class="meta">Palang Merah Indonesia (PMI) Klaten setiap tahun menemukan belasan kantong darah yang positif mengandung HIV.</p>
				  </div>
				  <div class="clearfix"></div>  
				</div>      
			  </div>
			  	  <div class="col-md-4 col-sm-4">
				<div class="onethree">
				  <div class="onethree-left">
					<div class="img"><i class="fa fa-home"></i></div>
				  </div>
				  <div class="onethree-right">
					<h5><a href="http://localhost/SkripsiAIDS/index.php/guest/welcome/artikel6">Dinkes Klaten Gandeng KPAD</a></h5>
					<p class="meta">Dinas Kesehatan terus melakukan upaya untuk mencegah penularan HIV penyebab AIDS </p>
				  </div>
				  <div class="clearfix"></div>  
				</div>      
			  </div>
			</div>
		  </div>
		</div>

		<!-- Below slider ends -->
