<script type="text/javascript">
jQuery(document).ready(function($) {
    CKEDITOR.replace( 'tentangaids' );
});
</script>
<section class="content-header">
    <h1>Tentang AIDS</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-th"></i> Tentang AIDS</a></li>
        <li><a href="#">Tentang AIDS</a></li>
    </ol>
</section>
<section class="content">
    {* <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Seputar AIDS</h3>
        </div><!-- /.box-header -->
        <!-- form start -->
        <div class="box-body">
            <form class="form-horizontal" action="{$config->site_url('pengaturan/operator/proses_cari')}" method="post">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label for="nama" class="col-sm-2 control-label">Nama</label>
                            <div class="col-sm-10">
                                <input type="text" class="col-sm-10 form-control" id="nama" name="operator_name" value="{$search.operator_name}" placeholder="-- semua --">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 pull-right action-right">
                        <input class="btn btn-primary " name="save" type="submit" value="Cari">
                        <input class="btn btn-danger" name="save" type="submit" value="Reset">
                    </div>
                </div>
            </form>
        </div><!-- /.box-body -->
    </div> *}
    <!-- notification template -->
    {include file="base/templates/notification.html"}
    <!-- end of notification template-->
    <div class="box">
        <div class="box-header with-border">
            <h5 class="box-title">Seputar AIDS<small></small></h5>
        </div>
        <div class="box-body">
            <form class="form-horizontal" action="{$config->site_url('tentangaids/process_edit')}" method="post">
                <input type="hidden" name="aids_id" value="{$result.pref_id}">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label for="nama" class="col-sm-2 control-label">Deskripsi Tentang AIDS</label>
                            <div class="col-sm-10">
                                <textarea class="form-control" id="tentangaids" rows="17" name="tentangaids">{$result.pref_value}</textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-2 pull-right action-right">
                        <input class="btn btn-primary " name="save" type="submit" value="Simpan">
                        <input class="btn btn-danger" name="save" type="reset" value="Reset">
                    </div>
                </div>
            </form>
        </div>
        {* <div class="box-footer clearfix">
            <div class="col-sm-6">
                Menampilkan <b>{$pagination.start|default:0}</b> sampai <b>{$pagination.end|default:0}</b> dari <b>{$pagination.total|default:0}</b></strong> Data Operator
            </div>
            <ul class="pagination pagination-sm no-margin pull-right">
                {$pagination.data|default:''}
            </ul>
        </div> *}
    </div>
</section>
